# -----------------
# Network Settings
# -----------------
# The IP address the server will listen on. Use '0.0.0.0' for network access (e.g., in Docker).
HOST=127.0.0.1
# The port the server will listen on.
PORT=8000

# -------------------
# Directory Settings
# -------------------
# The root directory where the PDF manuals are stored.
PDF_ROOT_DIR=./data/pdfs
# The file path for the SQLite database.
DB_FILE_PATH=./data/mcp_manual_walker.db
CHROMADB_PATH=./data/db/chroma_db
MARKDOWN_OUTPUT_DIR=./data/markdown

# -----------------
# Logging Settings
# -----------------
# The logging level for the application.
# Possible values: CRITICAL, ERROR, WARNING, INFO, DEBUG
# Possible values: CRITICAL, ERROR, WARNING, INFO, DEBUG
LOG_LEVEL=INFO

# -----------------
# Splitter Settings
# -----------------
CHUNK_SIZE=2000
CHUNK_OVERLAP=200
